.sidebar {
  background-color:rgb(137, 207, 240);
  width: 200px;
  height: 100vh;
  left:0px;
  top:80px;
  position: fixed;
  color:blue
}
.active{
  color:red
}
.main-content{
position: absolute;
left:250px;
background-color:rgb(137, 207, 240);

}

  
